<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="bitbug_favicon.ico" />
    <title>soogua官方网站-新闻列表</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/news.css">
</head>

<body>
    <!-- 导航 -->
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll col-lg-7 col-md-7">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> 
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
             </button>
                <a href="#page-top" class="navbar-brand"><img src="images/logo.png" class="img-responsive" alt=""></a>
            </div>

            <div class="collapse navbar-collapse col-lg-5 col-md-5" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="active">
                        <a class="page-scroll" href="index.html?#index">下载</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html?#introduct">介绍</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html?#aboutus">关于</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html?#aboutus">联系</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="source">
        <div class="container">
            <p>搜瓜动态</p>
        </div>
    </div>
    <div class="container">
        <ul class="list" id="content" v-cloak>
            <li v-for="item in items" :key="item.id" @click="view(item)">
                <div class="img">
                    <img :src="item.img" alt="">
                </div>
                <div>
                    <h4>{{ item.title }}</h4>
                    <p>
                        {{ item.summary }}
                    </p>
                    <a :href="'newsDetails.html?id=' + item.id">阅读全文</a>
                </div>
            </li>
        </ul>
        <!-- navigation -->
        <div class="navigation">
            <ul id="page"></ul>
        </div>

    </div>

    <footer id="foot">
        <div class="footer-top overlay-2 section-back-image-2" data-background="">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12  mb-lg-0 mb-md-4 mb-sm-5 footer-widget">
                        <div class="footer-section-title col-12 p-0">
                            <h3>西安学学信息技术有限公司</h3>
                        </div>
                        <ul class="quick-link-list">
                            <li>网址：https://soogua.aixuexue.com/</li>
                            <li>电话：400-801-5153</li>
                            <li>地址：西安市 雁塔区 高新三路 蓝溪国际大厦 1809</li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 col-2  mb-lg-0 mb-md-0 mb-sm-5  footer-widget widget_2">
                        <dl>
                            <dt><img src="picture/nopublic.jpeg" class=""/></dt>
                            <dd>公众号</dd>
                        </dl>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 col-2  mb-lg-0 mb-md-0 mb-sm-5 footer-widget widget_2">
                        <dl>
                            <dt><img src="picture/weibo.png" class=""/></dt>
                            <dd>微博</dd>
                        </dl>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12  mb-lg-0 mb-md-4 mb-sm-5 footer-widget widget mobile_news">
                        <div class="footer-section-title col-12 p-0">
                            <h3>搜瓜动态</h3>
                        </div>
                        <ul class="quick-link-list" id="app" v-cloak>
                            <li v-for="item in items" :key="item.id">
                                <a :href="'/newsDetails.html?id=' + item.id">{{ item.article_cate.category }} | {{ item.title }}</a>
                                <li><a href="news.html" class="more">更多内容</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 copyright-text">
                        <p>西安学学信息技术有限公司 © 2018-2019 soogua.aixuexue.com 版权所有 <a href="http://beian.miit.gov.cn/">陕ICP备18017596号-1</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<!-- Latest jQuery -->
<script src="js/jquery-2.2.4.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="js/bootstrap-paginator.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://libs.cdnjs.net/vue/2.6.10/vue.js"></script>
<script src="https://libs.cdnjs.net/axios/0.19.0-beta.1/axios.min.js"></script>
<script>
    /* 长宽占位 rem算法, 根据root的rem来计算各元素相对rem, 默认html 320/20 = 16px */
    function placeholderPic() {
        var w = document.documentElement.offsetWidth;
        document.documentElement.style.fontSize = w / 20 + 'px';
    }
    placeholderPic();
    window.onresize = function() {
        placeholderPic();
    }
</script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            items: []
        },
        created() {
            this.getContents()
        },
        methods: {
            getContents() {
                axios.get('https://soogua.aixuexue.net/api/v1/articles?include=article_cate&category=25&size=2&fields[article]=id,category,title,summary,created_at,img').then(data => {
                    this.items = data.data.data.contents.data
                })
            }
        }
    });
    var content = new Vue({
        el: '#content',
        data: {
            items: [],
            page: 1,
            last_page: 1
        },
        created() {
            this.getContents();
        },
        methods: {
            getContents() {
                axios.get('https://soogua.aixuexue.net/api/v1/articles?include=article_cate&category=28&size=10&fields[article]=id,category,title,summary,created_at,img&page=' + this.page)
                    .then(data => {
                        this.items = data.data.data.contents.data
                        this.last_page = data.data.data.contents.last_page
                    }).then(() => {
                        if (this.page == 1) {
                            $("#page").bootstrapPaginator({
                                bootstrapMajorVersion: 3, //对应的bootstrap版本
                                currentPage: this.page, //当前页数
                                numberOfPages: 10, //每次显示页数
                                totalPages: this.last_page, //总页数
                                shouldShowPage: true, //是否显示该按钮
                                useBootstrapTooltip: false,
                                onPageClicked: (event, originalEvent, type, page) => {
                                    this.page = page;
                                    this.getContents();
                                }
                            });
                        }
                    })
            },
            view(item) {
                // location.href = 'newsDetails.html?id=' + item.id
            }
        }
    })
</script>

</html>