body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #777777;
    line-height: 1.9em;
    font-weight: 400;
    overflow-x: hidden;
    margin: auto;
    background: #fff;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

a {
    color: #034ea2;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

a:focus,
a:hover {
    color: #034ea2;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 1.8;
    margin-bottom: 0;
    font-size: 1.13rem;
    color: #000;
}

span {
    font-size: .88rem;
    color: #999;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}


/*START SCROLL TO TOP*/

.topcontrol {
    background: #3d79da;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 999;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.topcontrol {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
}

.topcontrol:before {
    position: absolute;
    content: "";
    border: white solid 2px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.topcontrol:hover:before {
    opacity: 1;
}

.topcontrol:hover {
    color: #fff;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}


/*START SECTION TITLE DESIGN*/

section {
    /* padding: 90px 0; */
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    color: #333;
    margin: 0;
    text-transform: capitalize;
}

.section-title span {
    color: #034ea2;
}

.section-title span.line {
    display: block;
    height: 2px;
    width: 44px;
    background: #28AEB3;
    margin: 0 auto;
}

.section-title p {
    margin: 10px 0;
    text-transform: uppercase;
}

.section-title.section-title-left span.line {
    margin: 0 30px;
}

.section-title.section-title-left h3:after {
    margin: 0;
}


/*END SECTION TITLE DESIGN*/


/* 导航部分*/

.header-1 {
    z-index: 99;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.auto-container .row {
    align-items: center;
    justify-content: space-around;
}

.navbar-expand-lg {
    justify-content: flex-end;
}

.header-1 .navbar {
    padding: 0;
}

.header-1 .navbar-nav {
    flex-direction: inherit;
    flex-wrap: wrap;
}

.header-1 .navbar-nav .nav-link {
    color: #000;
    text-transform: uppercase;
    padding: 0px 30px;
    position: relative;
}

.header-1 .navbar-nav .active .nav-link {
    font-weight: 600;
}

.header-1 .navbar-nav .nav-link:hover {
    font-weight: 600;
}

.header-1 .navbar-nav .active .nav-link:after,
.header-1 .navbar-nav li:hover .nav-link:after {
    content: "";
    position: absolute;
    bottom: 24px;
    left: 32px;
    width: 25px;
    height: 1px;
    border-bottom: solid 2px #000;
}

@media screen and (max-width: 768px) {
    .main-header .row {
        justify-content: space-between;
    }
    .header-1 .logo_img {
        width: 32%;
    }
    .header-1 .logo_img img {
        width: 100%;
    }
    .mobile-menu-area {
        width: 100%;
    }
    .mean-container .mean-bar {
        background: transparent;
    }
    .mean-container a.meanmenu-reveal {
        width: 24px;
        top: -46px;
        right: 20px !important;
        color: #000;
        background: transparent;
    }
    .mean-container a.meanmenu-reveal span {
        display: block;
        background: #000;
        height: 2px;
        margin-top: 5px;
    }
    .mean-container .mean-nav {
        margin-top: -1px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 5%;
        text-align: center;
        background: #fff !important;
        color: #000;
        border-top: solid 1px #f2f2f2;
    }
}

@media (min-width:769px) and (max-width: 992px) {
    .d-md-block {
        display: none!important;
    }
    .d-md-none {
        display: block !important;
    }
    .header-1 .navbar-nav .nav-link {
        /* padding: 15px; */
    }
    .header-1 .navbar-nav .active .nav-link:after {
        right: 17px;
    }
    .education-section .advant .top b {
        font-size: 33px;
    }
}


/* banner */

.slider-section {
    width: 100%;
    padding: 0;
}

.home-single-slide {
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    display: table;
    height: 694px;
    width: 100%;
}

.home-slides.owl-theme .owl-nav {
    margin-top: 0;
    display: none;
}

.owl-theme.home-slides .owl-dot {
    color: #333;
    font-size: 16px;
    display: inline-block;
    /* background: #666; */
    padding: 0px;
    margin: 0 5px;
    border-radius: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.owl-theme.home-slides .owl-dot:hover {
    color: #fff;
}

.owl-theme.home-slides .owl-dot.active {
    padding: 0 8px;
    color: #fff;
}

.owl-theme.home-slides .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
}

.owl-theme .owl-dots .owl-dot span {
    border-radius: 50%;
    background: transparent;
    border: solid 2px #fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden !important;
    margin-top: -1px;
}

.tp-banner-container h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

.tp-banner-container p {
    color: #333;
    text-transform: capitalize;
}

.slider-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-1 {
        height: 46px;
        line-height: 43px;
    }
    .slider-section {
        display: none;
    }
    .slider-mobile {
        display: block;
    }
    .slider-mobile .home-single-slide {
        height: 190px;
    }
    .owl-theme.home-slides .owl-dots {
        bottom: 4px;
    }
    .owl-theme.home-slides .owl-dot.active {
        padding: 0 4px;
    }
}


/* 新闻公告 */

.marquee_news {
    text-align: center;
}

.marquee {
    width: 100%;
    height: 50px;
    align-items: center;
    color: #3A3A3A;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.marquee_box {
    display: block;
    /* position: relative; */
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.marquee_list {
    display: block;
}

.marquee_top {
    transition: all 0.5s;
    margin-top: -30px
}

.marquee_list li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.marquee_list li span {
    padding: 0 2px;
}

@media screen and (max-width:768px) {
    .marquee_news {
        padding: 0;
    }
    .marquee_box {
        width: 80%;
    }
    .marquee_box li span,
    .marquee_title span {
        font-size: 12px;
    }
    .marquee_title {
        padding: 0 5px;
    }
}


/* section */

.soogua p,
.store p,
.qun p,
.axx p {
    padding: 1.5rem 0;
}

.soogua a,
.store a,
.qun a,
.axx a {
    width: 30%;
    padding: 10px 15px;
    background: #228EFE;
    color: #fff;
}

.img img {
    width: 100%;
}

.desc {
    margin: auto;
    flex: 0 0 20%;
}

.desc-l {
    margin-right: 75px;
}

.desc-r {
    margin-left: 75px;
}

@media screen and (max-width: 768px) {
    .desc {
        flex: 0 0 85%;
        margin: auto;
    }
}

@media (min-width:768px) and (max-width: 1450px) {
    .desc {
        margin: auto;
        flex: 0 0 34%;
    }
}


/* product */

.product {
    padding: 50px 0;
    background: #f2f2f2;
    text-align: center;
}

.product .col-lg-3 {
    flex: 0 0 21%;
    padding: 2rem 0;
    background: #fff;
}

.product .col-lg-3 img {
    padding-bottom: 15px;
}


/* aboutus */

.aboutus {
    height: 550px;
}

.about {
    padding: 6rem 0 0;
    height: 346px;
    background: #111830;
}

.aboutus .auto-container {
    background: #228EFE;
    padding-bottom: 30px;
}

.aboutus h2 {
    color: #fff;
    text-align: left;
}

.aboutus .text {
    line-height: 2;
    color: #fff;
}

.aboutus img {
    margin: -30px 0 0 20px;
    width: 100%;
}


/* support */

.support {
    padding: 100px 0;
    background: url(../picture/support_bg.png) no-repeat;
    background-size: 100% 100%;
}

.support .section-title h2 {
    margin-bottom: 60px;
}

.support .auto-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.support img {
    margin-right: 80px;
    margin-bottom: 50px;
}

.support img:nth-child(5n) {
    margin-right: 0;
}


/* news */

.news {
    padding: 60px 0px;
}

.news .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news .section-title a {
    color: #999;
}

.news .list li {
    border-bottom: dashed 1px #CACACA;
    padding: 11px 0;
}

.news .list li:first-child {
    border-top: dashed 1px #CACACA;
}

.news .list li a {
    color: #000;
}

.news .list li:hover a {
    color: #507CFD;
}

.news i {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #959595;
}

.news img {
    width: 484px;
    height: 220px;
}

.news p {
    font-size: .88rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #666;
}

.news h6 {
    font-size: 1.13rem;
    padding: 1.5rem 0;
    margin-bottom: -8px;
}

.news .date {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 12px;
}

.news .date span,
.news .date a {
    color: #999;
}

.news li {
    cursor: pointer;
}

.textColor a {
    color: #507CFD !important;
}

.mobile {
    display: none;
}

@media screen and (max-width:768px) {
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
    section {
        padding: 20px 0;
    }
    .section-title {
        margin-bottom: 20px;
    }
    .section-title h2 {
        font-size: 1.15rem;
    }
    .section-title p {
        font-size: .75rem;
    }
    .top {
        /* margin-top: 1.4rem; */
    }
    span {
        font-size: 12px;
    }
    p {
        font-size: .85rem;
    }
    h3 {
        font-size: 1.13rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: .98rem;
    }
    dd {
        font-size: .8rem;
    }
    .desc {
        text-align: center;
        padding-bottom: 1.5rem;
    }
    .axx .desc {
        margin-top: 30px;
    }
    .aboutus {
        padding: 0;
    }
    .aboutus .text {
        margin: 0.8rem 0;
    }
    .product .col-lg-3 {
        flex: 0 0 47%;
    }
    .aboutus img {
        width: 100%;
        margin: auto;
        margin-top: -3.5rem;
    }
    .aboutus h2 {
        text-align: center;
        padding: 45px 0 0;
    }
    .soogua,
    .store,
    .qun,
    .axx {
        height: 494px;
    }
    .soogua .row,
    .store .row,
    .qun .row,
    .axx .row {
        margin-left: 0;
        margin-right: 0;
    }
    .odd {
        position: relative;
    }
    .odd img {
        position: absolute;
        top: 260px;
        left: 0;
        padding: 0;
    }
    .soogua .col-xs-12.img,
    .qun .col-xs-12.img {
        padding: 0;
    }
    .product .col-lg-3 img {
        width: 20%;
    }
    .support,
    .news {
        padding: 20px 0;
    }
    .news img {
        width: 100%;
        padding-top: 20px;
    }
    .support img {
        width: 26%;
        margin: 0;
        margin-bottom: 20px;
    }
    .support .section-title h2 {
        margin-bottom: 40px;
    }
}

@media (min-width:769px) and (max-width:1199px) {
    .header-1 .auto-container .row {
        align-items: start;
    }
    .soogua p,
    .store p,
    .qun p,
    .axx p {
        font-size: .9rem;
        padding: .5rem 0;
    }
    h3 {
        font-size: 1.5rem;
    }
}


/* Footer top */

footer {
    background: #373D44;
    color: #878787;
}

.footer-top {
    padding: 25px 0;
    border-bottom: solid 1px #494F55;
}

footer .auto-container .row {
    align-items: flex-start;
    justify-content: space-between;
}

.footer-section-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section-title h3 {
    color: #fff;
}

.footer-section-title img {
    padding-right: 10px;
}

.footer-section-title div span {
    padding: 2px 10px;
    background: #fff;
    border-radius: 5px;
}

.quick-link-list {
    margin-top: 25px;
}

.quick-link-list li {
    font-size: .8rem;
    color: #fff;
    line-height: 2;
}

.footer-widget ul.quick-link-list li a {
    color: #fff;
}

.footer-widget ul.quick-link-list li a:hover {
    color: #ccc;
}

.footer-widget ul.quick-link-list li a.more {
    text-decoration: underline;
    color: #4D96F3;
}

.footer-widget.widget,
.footer-widget.info {
    position: relative;
}

.footer-widget.widget::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 150px;
    border-left: solid 1px #494F55;
}

.footer-widget.info::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0;
    width: 1px;
    height: 150px;
    border-right: solid 1px #494F55;
}

footer .about,
footer .quick-link-list,
footer .single-wn-slider {
    clear: both;
}

.footer-widget.widget_2 {
    padding-left: 52px;
}

.footer-widget.widget_2 .quick-link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-widget.widget_2 .quick-link-list li {
    width: 50%;
    line-height: 3;
}

.footer-widget.widget {
    display: flex;
    justify-content: space-between;
}

.footer-widget.widget dl {
    width: 33.3%;
    text-align: center;
    color: #fff;
}

.footer-widget.widget dl img {
    width: 100px;
    padding-bottom: 10px;
}

footer .copyright {
    padding: 10px 0;
    text-align: center;
    font-size: 0.5rem;
}

.copyright-text p {
    font-size: .7rem;
    color: #878787;
}

.copyright-text p a {
    color: #878787;
}

@media screen and (max-width:768px) {
    footer {
        text-align: center;
    }
    .footer-top {
        padding: 35px 0 0;
    }
    .quick-link-list {
        margin: 25px 0;
    }
    .quick-link-list li,
    .footer-widget ul.quick-link-list li a {
        font-size: .85rem;
        line-height: 2;
    }
    .footer-widget.widget_2 {
        padding: 0;
        display: none;
    }
    .footer-widget.widget::before,
    {
        border: none;
    }
    .footer-section-title {
        justify-content: center;
    }
}

.copyright-text {
    color: white;
}

.copyright-text a {
    color: white;
}

[v-cloak] {
    display: none;
}