body {
    background-repeat: no-repeat;
    background-image: radial-gradient(52% 98%, #1B1758 39%, #17162D 100%);
}


/*导航*/

#mainNav {
    background: rgba(0, 0, 0, 0.1);
    border-color: transparent;
    padding: 0 0px 0 40px;
}

.navbar-right {
    padding-top: 5px;
}

.nav.navbar-nav li {
    padding: 0 10px;
}

.nav.navbar-nav li a {
    color: #fff !important;
    font-weight: 100;
    font-size: 16px;
}

.nav.navbar-nav>li:hover a {
    color: #fff;
    font-weight: 500;
    position: relative;
}

.navbar-default .nav.navbar-nav .active a {
    background: transparent;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.nav.navbar-nav>li:hover a::after,
.navbar-default .nav.navbar-nav .active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 18px;
    width: 30px;
    height: 1px;
    border-bottom: solid 1px #fff;
}


/*移动端导航按钮样式*/

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover {
    background: transparent;
    color: #fff;
    border-color: transparent;
    font-size: 12px;
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    #mainNav {
        padding: 0 10px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-default .navbar-collapse {
        border-color: #222;
        background: #fff;
    }
    .navbar-nav {
        margin: 0;
        text-align: center;
    }
    .nav.navbar-nav li {
        padding: 10px;
        border-bottom: solid 1px #f3f3f3;
    }
    .navbar-default .nav.navbar-nav .active a {
        color: #000;
    }
    .nav.navbar-nav.navbar-right>li>a {
        padding-left: 30px;
        color: #000 !important;
        font-weight: 500;
    }
}


/* 侧边导航 */

#fp-nav.right {
    right: 50px !important;
}

#fp-nav ul li {
    margin: 30px 7px !important;
}

#fp-nav ul li a span {
    width: 10px !important;
    height: 10px !important;
    border: 0 none !important;
    background-color: #25D4D0 !important;
}

#fp-nav ul li a.active span {
    width: 20px !important;
    height: 20px !important;
    margin-top: -5px !important;
    margin-left: -5px !important;
}


/* 公共样式 */

.section .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 600px;
    margin: -3rem 0 0 -4rem;
}

.section .desc {
    float: left;
    margin-top: .3rem;
}

.section .desc h2 {
    font-size: 0.5rem;
    color: #FFFFFF;
    line-height: 2;
    letter-spacing: 0.1px;
}

.section .desc h4 {
    font-size: 0.312rem;
    color: #25D4D0;
    line-height: 1.7;
    letter-spacing: 0.16px;
}

.section .desc h3 {
    font-size: .5rem;
    color: #25D4D0;
    line-height: 1.5;
    letter-spacing: 0.37px;
}

.qrcode__box .qrcode {
    width: 2.19rem;
    /* height: 2.19rem; */
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    vertical-align: top;
    border-radius: 6px;
}

.qrcode__box .info {
    display: flex;
    align-items: center;
    padding-right: 0.2rem;
}

.qrcode__box .info .text {
    margin-right: 0.2rem;
    font-size: 0.166rem;
    color: #25D4D0;
    letter-spacing: 0.11px;
}

.qrcode__box .info .avatar {
    display: flex;
    align-items: center;
}

.qrcode__box .info .avatar img {
    width: 0.396rem;
    height: 0.396rem;
    margin-right: -0.2rem;
    vertical-align: top;
}

.qrcode__box .info .avatar img:first-child {
    position: relative;
    z-index: 1;
}

.section .cover {
    float: left;
    position: relative;
    width: 3.4rem;
    height: 6.25rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.page1 .cover {
    margin-right: 1.2rem;
    background-image: url('../images/cover.png');
}

.page2 .cover {
    margin-left: 1.2rem;
    background-image: url('../images/page2.png');
}

.page3 .cover {
    margin-left: -1rem;
    margin-right: 1.2rem;
    background-image: url('../images/page3.png');
}

.page2 .desc,
.page4 .desc,
.page6 .desc {
    text-align: right;
}

.page2 .qrcode__box {
    float: right;
}

.page1 .desc h4 {
    color: #fff;
    font-size: .3126rem;
}

.page1 .desc img {
    width: 2.01rem;
}

.page4 .qrcode__box,
.page6 .qrcode__box {
    float: right;
}

.page4 .cover {
    margin-left: 1.2rem;
    background-image: url('../images/page4.png');
}

.page2 .desc {
    margin-left: -1rem;
}

.page4 .desc,
.page6 .desc {
    margin-left: -2.8rem;
}

.page5 .cover {
    margin-right: 1.2rem;
    margin-left: -1rem;
    background-image: url('../images/page5.png');
}

.page6 .cover {
    margin-left: 1.2rem;
    background-image: url('../images/page6.png');
}

.section .btn,
.section .mobile_h3,
.section .desc .logo2 {
    display: none;
}

.section h4,
.section .pc_h3,
.section .qrcode__box,
.page1 .desc .logo2 {
    display: block;
}

@media only screen and (max-width: 768px) {
    #fp-nav.right {
        right: 10px !important;
    }
    .section {
        overflow: hidden;
    }
    .section .container {
        padding: 0;
    }
    .section .container {
        position: absolute;
        top: 11%;
        left: 0%;
        width: 100%;
        margin: 0;
    }
    .section h4,
    .section .pc_h3,
    .section .qrcode__box {
        display: none;
    }
    .section .btn,
    .section .mobile_h3 {
        display: block;
    }
    .section .desc {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        text-align: center;
    }
    .section .desc h2 {
        line-height: 1.6;
        color: #25D4D0;
    }
    .section .desc img.logo2 {
        display: none;
    }
    .section .desc h3,
    .section .desc h2 {
        font-size: 1.8em;
        line-height: 1.8;
    }
    .section .btn {
        width: 40%;
        padding: 7px 0px;
        background: #25D4D0;
        border-radius: 20px;
        color: #000;
        margin: 10px auto;
        font-weight: 600;
    }
    .section .cover {
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 33rem;
        background-position: center;
    }
    .section .cover,
    .section .desc {
        margin: 0;
    }
}

.page7 {
    position: relative;
}

.page7 .contact {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 994px;
    height: 540px;
    margin: -270px 0 0 -497px;
}

.page7 .aboutUs {
    width: 100%;
    height: 5rem;
    /* height: 532px; */
    background: url(../images/logo_bg.png) no-repeat;
    background-size: 60%;
    background-position: center;
    text-align: center;
    margin-top: -2rem;
}

.page7 .aboutUs .content h3 {
    font-size: .5rem;
    color: #fff;
    line-height: 2.2;
}

.page7 .aboutUs .content p {
    font-size: 0.292rem;
    color: #25D4D0;
    line-height: 1.7;
}

.page7 .aboutUs .content p.text {
    padding-top: .3rem;
    font-size: 0.292rem;
    color: #fff;
}

footer {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-top {
    padding: 25px 0;
    border-bottom: solid 1px #494F55;
}

.footer-top .auto-container {
    width: 1000px;
    margin: 0 auto;
}

.footer-section-title h3 {
    color: #fff;
    font-size: 16px;
}

.quick-link-list {
    margin-top: 25px;
}

.quick-link-list li {
    font-size: 13px;
    color: #fff;
    line-height: 1.7;
}

.footer-widget ul.quick-link-list li a {
    color: #fff;
}

.footer-widget ul.quick-link-list li a:hover {
    color: #ccc;
}

.footer-widget ul.quick-link-list li a.more {
    text-decoration: underline;
    color: #4D96F3;
}

.footer-widget.widget {
    position: relative;
}

.footer-widget.widget::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 134px;
    border-left: solid 1px #494F55;
}

footer .about,
footer .quick-link-list,
footer .single-wn-slider {
    clear: both;
}

.footer-widget.widget_2 {
    text-align: center;
}

.footer-widget.widget_2 dl {
    margin-bottom: -20px;
}

.footer-widget dt img {
    width: 98px;
    margin: auto;
}

.footer-widget dd {
    margin-top: 10px;
    font-size: 13px;
}

footer .about p {
    color: #fff;
}

footer .copyright {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #999999;
}

footer .copyright a {
    color: #999999;
}

@media screen and (max-width:320px) {
    .page7 .aboutUs .content p {
        font-size: 1em;
        line-height: 1.7;
    }
    .page7 .aboutUs .content p.text {
        font-size: 1em;
    }
}

@media (min-width:376px) and (max-width:414px) {
    .section .cover {
        top: 5.5rem;
    }
}

@media screen and (max-width:768px) {
    .page7 .fp-tableCell {
        vertical-align: top;
    }
    footer {
        text-align: center;
        bottom: 28px;
    }
    .page7 .aboutUs {
        height: 22em;
        margin-top: 5em;
    }
    .footer-top {
        padding: 35px 0 0;
        border: none;
        position: relative;
    }
    .footer-top::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-top: solid 1px #282650;
    }
    .footer-top .auto-container {
        width: 100%;
    }
    .page7 .aboutUs .content h3 {
        font-size: 1.2rem;
    }
    .page7 .aboutUs .content p {
        font-size: 0.9rem;
        line-height: 2;
    }
    .page7 .aboutUs .content p.text {
        font-size: 0.9rem;
    }
    .quick-link-list {
        margin: 0px 0 20px;
    }
    .quick-link-list li,
    .footer-widget ul.quick-link-list li a {
        font-size: .6rem;
    }
    .mobile_news,
    .copyright {
        display: none;
    }
    /* 侧边栏 */
    #fp-nav ul li {
        margin: 20px 0px !important;
    }
    #fp-nav ul li a span {
        width: 8px !important;
        height: 8px !important;
    }
    #fp-nav ul li a.active span {
        width: 15px !important;
        height: 15px !important;
        margin-left: -4px !important;
    }
}

[v-cloak] {
    display: none;
}